streamlit>=1.28.0
yfinance>=0.2.28
pytz>=2023.3
plotly>=5.17.0
pandas>=2.0.0
gspread>=5.12.0
google-auth>=2.23.0
finance-datareader>=1.0.0
# tvdatafeed를 GitHub 주소로 기입
tvdatafeed @ git+https://github.com/rongardF/tvdatafeed.git
